body {
    font-family: Impact, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(-45deg, #faf0e6, #fff0db, #eed9c4, #e4d5b7);
    background-size: 500% 500%;
    animation: gradient 3s ease infinite;
}

header {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1em;
    border: solid #000000;
}

@keyframes typing {
    from { width: 0 }
    to { width: 24% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

header .div-preview h3 {
    overflow: hidden;
    justify-content: center;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap;
    margin: 0;
    padding: 0;
    display: inline-block;
    /*animation: typing 3s steps(40) forwards, blink-caret 0.75s infinite; */
    animation: blink-caret 0.75s infinite;
}

/* @media screen and (max-width: 600px) {
    header .div-preview h3{
        white-space: normal;
    }
} */

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

nav {
    display: flex;
    justify-content: center;
    padding: 1em;
    border: solid #000000;
}

nav a {
    margin: 0 1em;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #ff5722; /* Kolor po najechaniu myszą */
    animation: colorChange 5s infinite; /* Dodajemy animację koloru */
}

@keyframes colorChange {
    0% { color: #333; }
    25% { color: #ff5722; }
    50% { color: #2196f3; }
    75% { color: #4caf50; }
    100% { color: #333; }
}

section {
    padding: 3em;
}

.about-me2{
    color: white;
    border: solid #000000;
    background: #d9b99b;
    padding: 0.1px;
    font-size: medium;
    -webkit-text-stroke: 0.01px black;
}

.about-me {
    color: black;
    border: solid #000000;
    animation: gradient 15s ease infinite;
    -webkit-text-stroke: 0.01px black;
}

#projects {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

#projects p {
    flex: 1;
}

@media (max-width: 200px) {
    #projects {
        flex-direction: column;
        align-items: flex-end;
    }
}

.projects-2 {
    color: white;
    font-family: "OCR A Extended";
    font-size: large;
    border: solid #000000;
    background: #d9b99b;
    padding: 0.1px;
    -webkit-text-stroke: 0.5px black;
}

.project-item {
    flex: 1;
    text-align: center;
    font-size: smaller;
}

.projects {
    flex: 1;
    border: solid #000000;
    animation: gradient 15s ease infinite;
    color: black;
    -webkit-text-stroke: 0.01px black;
}

.social-media-2 {
    border: solid #000000;
    color: white;
    background: #d9b99b;
    padding: 0.1px;
    -webkit-text-stroke: 0.01px black;
}

.social-media {
    border: solid #000000;
    text-align: center;
    -webkit-text-stroke: 0.01px black;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    font-family: Arial, sans-serif;
}

.preview{
    font-family: "Arial", sans-serif;
    font-size: 12px;
    margin-bottom: 4px;
}

@keyframes slidebg {
    to {
        background-position:200%;
    }
}

#resume {
    font-family: Candara, serif;
    color: white;
    background: black;
    border-radius: 15%;
    transition-delay: 3s;
    background-size: 200% 100%;
}

#resume:hover {
    transition-delay: 0.9s;
    background-image: linear-gradient(120deg, black 0%, gray 40%, darkgray 50%, darkgray 70%, black 100%  );
    animation:slidebg 2.5s linear infinite;
}

.transition-section {
    transition: background-color 0.5s ease; /* Smooth transition on background-color property */
}